* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --var1: #000;
    --var2: #fff
}

header {
    padding: 100px 20px;
    background-color: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #fff;
        font-weight: 700;
        font-size: 120px;
        transition: all 0.8s ease;
    }

    h2 {
        font-weight: 600;
        color: #fff;
        transition: all 0.8s ease;
    }
}

.main-info {
    overflow: hidden;
    padding: 100px 10px;
    background-color: rgb(114, 110, 110);

    &__text {
        transition: all 0.5s ease;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        transform: scale(0);
        margin-bottom: 25px;
    }
}

.team {
    padding: 50px 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__item {
        padding: 20px 10px;
    }

    &__photo {}
}



.member {
    transition: all 0.2s ease;
    background-color: rgb(114, 110, 110);
    opacity: 0.8;
    border-radius: 5px;

    &__photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(255, 153, 0);
        margin-bottom: 15px;
        transition: all 0.8s ease;
        transform: scale(0);
        transition: all 0.5s ease;
    }

    &__name {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    &:hover {
        opacity: 1;
    }
}

.member.show {
    .member__photo {
        transform: scale(1);
    }
}

.advantage {
    padding: 50px;
    background-color: rgb(114, 110, 110);

    &__item {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
        transform: scale(0);
    }
}


@for $i from 1 to 7 {
    .advantage__list.show .advantage__item:nth-child(#{$i}) {
        transition: all 0.5s ease calc(0.2s * $i);
        transform: scale(1);
    }
}


.show {
    transform: scale(1);
}