* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

:root {
  --var1: #000;
  --var2: #fff ;
}

header {
  padding: 100px 20px;
  background-color: #ddd;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header h1 {
  color: #fff;
  font-weight: 700;
  font-size: 120px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
header h2 {
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.main-info {
  overflow: hidden;
  padding: 100px 10px;
  background-color: rgb(114, 110, 110);
}
.main-info__text {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin-bottom: 25px;
}

.team {
  padding: 50px 10px;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.team__item {
  padding: 20px 10px;
}

.member {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: rgb(114, 110, 110);
  opacity: 0.8;
  border-radius: 5px;
}
.member__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 153, 0);
  margin-bottom: 15px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.member__name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.member:hover {
  opacity: 1;
}

.member.show .member__photo {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage {
  padding: 50px;
  background-color: rgb(114, 110, 110);
}
.advantage__item {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.advantage__list.show .advantage__item:nth-child(1) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage__list.show .advantage__item:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage__list.show .advantage__item:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage__list.show .advantage__item:nth-child(4) {
  -webkit-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage__list.show .advantage__item:nth-child(5) {
  -webkit-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantage__list.show .advantage__item:nth-child(6) {
  -webkit-transition: all 0.5s ease 1.2s;
  transition: all 0.5s ease 1.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.new-section {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: rgb(114, 110, 110);
  color: #fff;
  margin-bottom: 50px;
}

.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}